body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #3498db, #4a90e2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.container:hover {
    background-color: #fff;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #3498db;
}

.input-field {
    margin: 20px 0;
}

input,
select {
    width: 90%;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 18px;
    background-color: #f0f0f0;
}

select {
    cursor: pointer;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #3498db;
}

#conversionIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

#conversionIcons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}